* {
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
  font-family: "Comic Sans MS", Comic Sans, cursive;
}

.row{
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: #0e0d0d;
  font-size: 175%;
}


.box{
  border:1px solid black;
  width: 100%;
  overflow: auto;
  height:300px;
  color: black;
  font-size:5px;
  background-color: rgba(0,0,0,0.3);
  
}


.content-name{
  text-align: center;
  border: 1px solid black;
  width: 100px;
  height: 40px;
  padding: 5px 20px 5px 20px;
  float: right;
  margin-top: 0px;
  font-size: 125%;
  position: relative;
}


ul {
  clear: right;
  width: 90%%;
}

.name1{
  background-color: #f1bdc5;
}

.name2{
  color: white;
  background-color: #f52e2e;
}
.name3{
  background-color: #e2e260;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .com-lg-4 {
	  padding: 10px;
  	float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .com-md-6,.com-md-12 {
	  padding: 10px;
    float: left;
  }
  .com-md-6 {
    width: 50%;
  }
  .com-md-12 {
    margin-left: 0px;
    width: 100%;
    position: relative;
  }
	
  .name3{
    margin-right: 0px;
    width: 100px;
    height: 50px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .com-sm-12 {
	padding: 10px;
  	float: left;
    width: 100%;
  }
  .content-name{
    padding:10px;
    float: left;
    margin-right: 0px;
  }
}
